/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/

/* body {
    font-size: 14px;
    font-weight: 300;
    color: #1e1e1e;
}*/

#layout {
    padding:0;
}

.pure-g {
    font-family: Avenir, Open Sans, Helvetica, sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background: #fff;
    color: #1e1e1e;
}

 .header {
   /* margin: 80% 2em 0;*/
    text-align: left;
    top: auto;
    /* position: fixed;
    top: 45%;
    left: 200px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 210px; */
} 

.left #headshot {
    position: relative;
    overflow: hidden;
    height: 200px
}

.left #headshot img {
    width: 200px;
    height: 200px;
}

.pure-u-md-1-4, .pure-u-md-6-24 {
    width: 33.3333%;*
    width: 33.3023%
}

.card {
    left:500px !important;
    min-width:700px !important;
    margin-bottom:80px;
}

a {
    color:#0854c7 !important;
}

a.sublink {
    color:white !important;
}

.left h1 {
    font-size:19px !important;
    margin-bottom:12px !important;
}

.left #btn-stech {
    background-color:#BD1550 !important;
    font-size:8px !important;
    font-weight:800 !important;
}

.left #external-links {
    margin-top:40px !important;
}

#home .line {
    margin-top:25px !important;
}

.sample-type {
    display: inline-block;
    letter-spacing: .6px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1e1e1e;
    font-size:12px;
}

.sample-date {
    font-size:12px;
}

.profile-type { 
    display: inline-block;
    letter-spacing: .9px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1e1e1e;
    font-size:11px;
    line-height:1.7em;
}

#portfolio-title {
    overflow: hidden;
    margin: 40px 0;
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#portfolio-title h2 {
    float: left;
    font-size: 15px;
    margin: 0;
    font-weight: 500;
}

#home p {
    text-align:left !important;
    font-size: 12px;
    line-height:1.7em;
}
