/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media screen and (min-width:1280px){
#home { 
    width: 700px !important;
    top:80px;
    }
.left {
    top:80px;
    position:fixed;
    left:200px;
    width:210px;
}
.card {
    left:500px;
}
.left #external-links {
    margin-top:40px;
}
#about {
    padding-right:250px;
    }
}

@media screen and (min-width:1025px){
#home { 
    width: 500px;
    top:80px;
    }
.left {
    top:80px;
    position:fixed;
    left:200px;
    width:210px;
}
.card {
    left:500px;
}
.left #external-links {
    margin-top:40px;
}
#about {
    padding-right:250px;
    }
}

@media screen and (min-width:781px) and (max-width:1024px) {
#home { 
    width:500px;
    top:80px;
    }
.left {
position:fixed;left:50%;top:30px;
-webkit-transform:translateX(-70%);
transform:translateX(-70%);
top:80px;
left:200px;
width:210px;
    }
.card {
    left:330px;
    width:360px;;
    } 
    .left #external-links {
    margin-top:40px;
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    .left {
        position:absolute;
        top:80px;
    }
.left {
position:fixed;left:50%;top:30px;
-webkit-transform:translateX(-70%);
transform:translateX(-70%);
top:80px;
left:200px;
width:210px;
    }
.card {
    left:330px;
    width:360px;;
    } 
.left #external-links {
    margin-top:40px;
    }
}

@media screen and (max-width:480px) {
    .left {
        position:relative;
        top:15px;
        left:100%;
        width:100%;
    }
    .card {
        padding-top:310px;
        left:20px;
        width:300px;
        width:90%;
    }
    .left #external-links {
        margin-top:20px;
    }
}

@media screen and (max-width:320px) {
    .left {
        position:relative;
        top:15px;
        left:205px;
        width:210px;
    }
    .card {
        padding-top:315px;
        left:20px;
        width:300px;
        width:90%;
    }
    .left #external-links {
        margin-top:20px;
    }
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/

#layout {
    padding:0;
}

.pure-g {
    font-family: Avenir, Open Sans, Helvetica, sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start; 
}

.left #headshot {
    position: relative;
    overflow: hidden;
    height: 200px
}

.left #headshot img {
    width: 200px;
    height: 200px;
}

.card {
    margin-bottom:80px;
    min-height:100vh;
    position:absolute;
    right:0;
}

#home p {
    margin-bottom:18px;
    text-align:left;
    font-size: 13px;
    line-height:1.7em;
}

a {
    color:#0854c7;
    text-decoration:none;
    -webkit-transition:all .2s;
    transition:all .2s;
    cursor:pointer;
}

a.sublink {
    color:white;
}

.left h1 {
    font-size:19px;
    font-family:Josefin Sans;
    margin:35px 0 12px;
    margin-left:-2px;
    font-weight:300;
    letter-spacing:.8px;
}

.left #btn-stech {
    background-color:#BD1550;
    font-size:8px;
    font-weight:800;
    display:inline-block;
    height:33px;
    width:auto;
    padding:0 9pt;
    line-height:33px;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:.8px;
    -webkit-transition:all .2s;transition:all .2s;
}

.left #btn-stech:hover {
background-color:#1e1e1e;
}

#home .line {
    margin-top:25px;
}

.sample-type {
    display: inline-block;
    letter-spacing: .6px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1e1e1e;
    font-size:12px;
}

.sample-date {
    font-size:12px;
}

.profile-type { 
    display: inline-block;
    letter-spacing: .9px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1e1e1e;
    font-size:11px;
    line-height:1.7em;
}

#portfolio-title {
    overflow: hidden;
    margin: 40px 0;
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#portfolio-title h2 {
    float: left;
    font-size: 15px;
    margin: 0;
    font-weight: 500;
}

.left #headshot:hover #headshot-overlay {
bottom:0;
}

.left #headshot #headshot-overlay {
position:absolute;bottom:-60px;
left:0;
width:200px;
height:60px;
text-align:center;
line-height:60px;
background-color:rgba(0,0,0,.7);
-webkit-transition:bottom .3s ease;
transition:bottom .3s ease;
font-size:10px;
letter-spacing:.6px;
text-transform:uppercase;
}

.left #headshot #headshot-overlay span {
margin:0 6px;
}

.left #headshot #headshot-overlay a {
color:#fff;
-webkit-transition:all .2s;
transition:all .2s;
}

.left #headshot #headshot-overlay a:hover {
color:#BD1550;
}

.left h1,.left ul#navi {
text-transform:uppercase;
}

.left ul#navi {
font-size:10px;
}

.left ul#navi li {
display:inline-block;
width:28%;
text-align:left;
letter-spacing:1px;
color:#c8c8c8;
}

.left ul#navi li:nth-child(2) { 
padding-left:7px;
}

.left ul#navi li a:hover {
color:#1e1e1e;
}

.left .external-link {
display:inline-block;
line-height:33px;
font-size:13px;
padding-left:18px;
color:#3c3c3c;
-webkit-transition:all .2s;
transition:all .2s;
}

.left .external-link:hover { 
color:#BD1550;
}

#home #news #news-title {
overflow:hidden;
margin:40px 0;
text-transform:uppercase;
letter-spacing:1px;
}

#home #news #news-title h2 {
float:left;
font-size:15px;
margin:0;
}

#home #news #news-title #news-more {
font-size:10px;
float:right;
line-height:20px;
}

#home #news ul {
font-size:9pt;
color:#646464;
text-align:justify;
}

#home #news ul li {
margin-bottom:15px;
}

#home #news ul li p {
display:inline;
}

#home #news ul li .news-date {
display:inline-block;
width:85px;
letter-spacing:.6px;
font-weight:500;
text-transform:uppercase;
color:#1e1e1e;
}

#home #news ul li .separator {
margin-right:10px;
}

#about p {
margin-bottom:22px;
text-align:justify;
}

body { 
font-size:14px;
font-weight:300;
font-family:Avenir,Open Sans,Helvetica,sans-serif;
color:#1e1e1e;
background-color:#fff;
}

p { 
margin:0;
}

a,a:active,a:focus {
outline:0;
}

a:hover {
color:#BD1550;
}

ul {
padding:0;
margin:0;
list-style-type:none;
}

.line {
height: 1px;
width: 100%;
border: 1px solid #e1e1e1;
background: #a2a2a2;
}
